@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
  font-family: "Poppins", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.6;
  font-weight: 400;

  color: #213547;
  background-color: #f4f4f4;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: radial-gradient(circle, #e0e0e0, #cfcfcf);
}

/* Typography */
h1 {
  font-size: 38px;
  font-weight:1000;
  font-family: DM Sans;
  text-align: center;
  margin-bottom: 1rem;
  color: white;
}

/* Button Group */
.button-group {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 1rem;
}
