@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


:root {
  font-family: "DM Sans", "Poppins", Arial, sans-serif;
  line-height: 1.6;
  font-weight: 400;
  color: #f4f4f4;
  background-color: #101014;
}

body {
  margin: 0;
  min-height: 100vh;
  min-width: 100vw;
  background: #101014;
  color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}

/* Typography */
h1 {
  font-size: 38px;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-family: DM Sans;
  text-align: center;
  margin-bottom: 1rem;
  color: white;
}

/* Button Group */
.button-group {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 1rem;
}
